@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 15, 23, 42;
    --background-rgb: 248, 250, 252;
  }

  html.dark {
    --foreground-rgb: 241, 245, 249;
    --background-rgb: 15, 23, 42;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
